<h2 id='login'>Login</h2>

<div id='welcome'>
<p>Welcome To The Sports Blog</p>
</div>




<%= form_tag(login_path) do  %>
<div id='username2'>USERNAME:<%= text_field_tag :username %></div>
<div id='password2'>PASSWORD:<%= text_field_tag :password %></div>
<div id='submit2'><%= submit_tag 'Login' %></div>

<% end %>

<div id='NFL'></div>
<div id='MLB'></div>
<div id='NBA'></div>
<div id='NHL'></div>
