<div id='editBlog'><h2>Edit your blog</h2></div>


<%= form_for @blog do |f| %>

<div id='editForm'>
	<div class='firstName'><%= f.text_field :title %></div>
	<div class='firstName'><%= f.text_area :content %></div>
	<div class='firstName'><%= f.submit %></div>
</div>
<% end %>