<div id='bloglist'><h2>List of all Blogs:</h2></div>

<% @blogs.each do |b| %>

<a href="/blogs/<%= b.id %>"><div id='blogTitle'><%= b.title %></div></a>
<div id='blogContent'><%= b.content %></div>

<% end %>