<div id='profile'>
<h1>User's Profile</h1>
</div>

<div id='container'>

First Name: <div id='fname'><%= @user.fname %></div>
Username: <div id='username1'><%= @user.username %></div>
Email: <div id='email'><%= @user.email %></div>

</div>
<div id='words'>
<p>Enter East Coast, West Coast, Mid-West, South-West</p>
</div>

<div id='city'>
<input id='input' type="text" name="">
<input id='submit' type="submit" name="Submit">
</div>

<div id='pic'></div>

<div id='delete'><%= link_to 'Delete', user_path, method: :delete %></div>
