/*
*= require_tree .
*= require_self
*/

#NFL{
	height: 300px;
	width: 300px;
	margin-left: 100px;
	margin-top: 50px;
	background-image: url('nfl-logo.jpg');
	background-size: 100% 100%;
}

#MLB{
	height: 300px;
	width: 300px;
	margin-left: 400px;
	margin-top: -300px; 
	background-image: url('Mlb-logo.gif');
	background-size: 100% 100%;
}

#NBA{
	height: 300px;
	width: 300px;
	margin-left: 700px;
	margin-top: -300px;
	background-image: url('nba-logo.jpg');
	background-size: 100% 100%; 
}

#NHL{
	height: 300px;
	width: 300px;
	margin-left: 1000px;
	margin-top: -300px;
	background-image: url('NHL_Logo_former.svg.png');
	background-size: 100% 100%; 
}
