/*
*= require_tree .
*= require_self
*/
#images{
	height: 360px;
	width: 1200px;
	margin-left: -500px;
}

#NFL{
	height: 300px;
	width: 300px;
	margin-left: 100px;
	margin-top: 50px;
	background-image: url('nfl-logo.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

#MLB{
	height: 300px;
	width: 300px;
	margin-left: 400px;
	margin-top: -300px; 
	background-image: url('Mlb-logo.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;

}

#NBA{
	height: 300px;
	width: 300px;
	margin-left: 700px;
	margin-top: -300px;
	background-image: url('nba-logo.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
 
}

#NHL{
	height: 300px;
	width: 300px;
	margin-left: 1000px;
	margin-top: -300px;
	background-image: url('NHL_Logo_former.svg.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
 
}
